@page "/"
@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ElectroHub.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Inicia Sesión</PageTitle>

<div class="login-container">
    <section class="login-card">
        <h1>Inicia Sesión</h1>
        @if (errorMessage != null)
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <hr />
            <div class="mb-3">
                <div class="form-input">
                    <input name="Input.UserName" @bind="Input.UserName" id="Input.UserName" @bind:event="oninput" autocomplete="username webauthn" aria-required="true" placeholder="ej:Juan_Alfonso" />
                </div>
                <ValidationMessage For="() => Input.UserName" class="text-danger" />
            </div>
            <div class="mb-3">
                <div class="form-password">
                    <input type="password" name="Input.Password" @bind="Input.Password" id="Input.Password" @bind:event="oninput" autocomplete="current-password" aria-required="true" placeholder="password" />
                </div>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                    Remember me
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
            </div>
            <hr />
            <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Crear Cuenta</a>

            @*
            <div class="d-flex flex-column">
                <span class="text-secondary mx-auto mt-2">OR</span>
                <PasskeySubmit Operation="PasskeyOperation.Request" Name="Input.Passkey" EmailName="Input.Email" class="btn btn-link mx-auto">Log in with a passkey</PasskeySubmit>
            </div>
            <hr />

            @*
            <div>
                <p>
                    <a href="Account/ForgotPassword">Forgot your password?</a>
                </p>
                
                <p>
                    <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
            *@
        </EditForm>
    </section>
        

</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        SignInResult result;
        if (!string.IsNullOrEmpty(Input.Passkey?.CredentialJson))
        {
            result = await SignInManager.PasskeySignInAsync(Input.Passkey.CredentialJson);
        }
        else
        {
            // If doing a password sign-in, validate the form.
            if (!editContext.Validate())
            {
                return;
            }

            // This doesn't count login failures towards account lockout
            // To enable password failures to trigger account lockout, set lockoutOnFailure: true
            result = await SignInManager.PasswordSignInAsync(Input.UserName, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        }

        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl ?? "/Reportes");
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: El nombre y/o la contraseña son incorrectos";
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "El nombre de usuario es obligatorio")]
        [Display(Name = "Nombre Usuario")]
        [StringLength(15, ErrorMessage = "El {0} debe tener entre {2} y {1} caracteres.", MinimumLength = 6)]
        public string UserName { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Recordar Sesión")]
        public bool RememberMe { get; set; }

        public PasskeyInputModel? Passkey { get; set; }
    }
}
