.navbar-menu{
    display:flex;
    justify-content:space-around;
    width:100%;
    align-items:center;
    background: linear-gradient(to right, #6956D7, #372D72, #372D72, #6956D7);
    padding: 20px 0px 20px 0px;
}
.logo-container > a > img{
    width: 100%;
}
.user-container-nav {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}
.data-user-nav {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.2);
    right: 0;
    width: 220px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    display:none;
    flex-direction:column;
    gap:20px;
}
.data-user-nav.show {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.2);
    right: 0;
    backdrop-filter:blur(30px);
    width: 220px;
    padding: 20px 10px 20px 10px;
    border: 2px pink solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index:100;
}
.data-user-nav > p, .form-closesesion{
    border-bottom: 2px white solid;
}
.navbar-toggler {
    display: block;
}

.user-container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
    color: white;
    padding:5px 10px 5px 10px;
}
.user-container{
    position:absolute;
    bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    gap:10px;
    color:white;
}
.data-user > p{
    margin-bottom:0;
}
.data-user button{
    padding:0;
}


.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.37);
        color: #D7AA56;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: #D7AA56;
    }

.nav-scrollable {
    display: none;
}
    .nav-scrollable.show {
        display: block;
        position: fixed;
        top: 6.8rem;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100vh - 3.5rem);
        z-index: 1000;
        background: linear-gradient(to right,#6956D7, #372D72);
    }

@media (min-width: 900px) {
    .navbar-toggler {
        display: none;
    }
    .user-container-nav{
        display:none;
    }
    .navbar-toggler {
        display: none;
    }
    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        overflow-y: auto;
        background: linear-gradient(to right,#6956D7, #372D72);
    }
}
@media (max-width: 900px){
    .user-container {
        display: none;
    }
}