@page "/Proveedores/EstadosProveedores/Create"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject EstadosProveedoresService estadosProveedoresService

<PageTitle>Crear Estados de Proveedor</PageTitle>
<EditForm Model="EstadosProveedores" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">

        @if (!string.IsNullOrEmpty(Mensajes))
        {
            <div class="alert alert-danger alert-dismissible fade show">
                <i class="bi bi-exclamation-triangle-fill"></i> @Mensajes
                <button type="button" class="btn-close" @onclick="() => Mensajes = string.Empty"></button>
            </div>
        }

        <div class="card shadow-lg">
            <div class="card-header">
                <h3 class="card-title">Crear Estado de Proveedor</h3>
            </div>

            <div class="card-body">
                <div class="mb-2">
                    <label>Nombre Estado de Proveedor</label>
                    <InputText @bind-Value="EstadosProveedores.Nombre" class="form-control"></InputText>
                    <ValidationMessage For="() => EstadosProveedores.Nombre" />
                </div>
            </div>

            <div class="card-footer">
                <a href="Proveedores/Index" class="btn btnbtn-outline-primary">Volver</a>
                <button type="submit" class="btn btnbtn-outline-primary">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public EstadosProveedores EstadosProveedores { get; set; } = new EstadosProveedores();
    public string Mensajes { get; set; } = string.Empty;


    private async Task Guardar()
    {
        Mensajes = string.Empty;

        var creado = await estadosProveedoresService.Guardar(EstadosProveedores);
        if (creado)
            Volver();
    }


    private void Volver() => navigationManager.NavigateTo("/Proveedores/Index");

}
