@page "/Proveedores/TiposProveedores/Create"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject TiposProveedoresService tiposProveedoresService

<PageTitle>Crear Tipo Proveedor</PageTitle>
<EditForm Model="TiposProveedores" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="container">

        @if(!string.IsNullOrEmpty(Mensajes)){
            <div class="alert alert-danger alert-dismissible fade show">
                <i class="bi bi-exclamation-triangle-fill"></i> @Mensajes
                <button type="button" class="btn-close" @onclick="() => Mensajes = string.Empty"></button>
            </div>
        }

        <div class="card shadow-lg">
            <div class="card-header">
                <h3 class="card-title">Crear Tipo de Proveedor</h3>
            </div>

            <div class="card-body">
                <div class="mb-2">
                    <label>Nombre Tipo Proveedor</label>
                    <InputText @bind-Value="TiposProveedores.Nombre" class="form-control"></InputText>
                    <ValidationMessage For="()=> TiposProveedores.Nombre"/>
                </div>
            </div>

            <div class="card-footer">
                <a href="Proveedores/Index" class="btn btnbtn-outline-primary">Volver</a>
                <button type="submit" class="btn btnbtn-outline-primary">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public TiposProveedores TiposProveedores {get; set;} = new TiposProveedores();
    public string Mensajes {get; set;} = string.Empty;


    private async Task Guardar(){
        var creado = await tiposProveedoresService.Guardar(TiposProveedores);
        if (creado)
            Volver();
    }

    private void Volver() => navigationManager.NavigateTo("/Proveedores/Index");

}
