@inject ProductosService productosService
<div class="modal-overlay @(Mostrar ? "show" : "")"></div>
<div class="modal-container @(Mostrar ? "show" : "")">
    <div class="modal-header">
        <img src="/WarningIcon.svg" alt="" />
        <h5>Eliminación de Producto</h5>
        <img class="cerrar-icon"
             @onclick="Cerrar"
             @onclick:stopPropagation="true"
             src="/Cerrar.svg"
             alt="" />
    </div>
    <hr />
    <div class="modal-body" @onclick:stopPropagation="true">
        <p>Al confirmar esta acción, se eliminará el producto <span>@Productos?.Nombre</span>  </p>
    </div>
    <div>
        <button @onclick="Eliminar">Eliminar</button>
    </div>
</div>



@code {
    public List<Productos> ListaProductos = new List<Productos>();

    [Parameter] public Productos? Productos { get; set; }

    [Parameter] public bool Mostrar { get; set; }

    [Parameter] public EventCallback<bool> MostrarChanged { get; set; }

    [Parameter] public EventCallback OnProductoEliminado { get; set; }


    public async Task Cerrar()
    {
        Mostrar = false;
        await MostrarChanged.InvokeAsync(false);
    }

    private async Task Eliminar()
    {
        var eliminado = await productosService.Eliminar(Productos.ProductoId);
        if (eliminado)
        {
            await OnProductoEliminado.InvokeAsync();
            await Cerrar();
            
        }
    }
}