.modal-overlay.show {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 90%;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0%;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.modal-container {
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    height: 220px;
    border: 2px #AA56D7 solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    transform: translateY(-30px);
    opacity: 0%;
    z-index: -1;
}

.modal-container.show {
        transition: all 0.4s ease-in-out;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 400px;
        height: 220px;
        border: 2px #AA56D7 solid;
        border-radius: 20px;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(1px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
        transform: translateY(0px);
        opacity: 100%;
        z-index: 1;
    }

hr {
    border: 2px solid #AA56D7;
    width: 100%;
}

span {
    color: #D7AA56;
}

.modal-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-body > p {
    text-align: center;
}

button {
    background-color: #7B2E2E;
    border: none;
    color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}
.cerrar-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}