
<div class="modal-overlay @(Mostrar ? "show" : "")"></div>
<div class="modal-container @(Mostrar ? "show" : "")">
    <div class="modal-header">
        <img src="/CheckedIcon.svg" alt="" />
    </div>
    <hr/>
    <div class="modal-body" @onclick:stopPropagation="true">
        <p>El producto <span>@NombreProducto</span> ha sido agregado correctamente.</p>
    </div>
    <div>
        <button @onclick="Cerrar">Aceptar</button>
    </div>
</div>



@code {
    [Parameter] public string Text { get; set; } = string.Empty;

    [Parameter] public string NombreProducto { get; set; } = string.Empty;

    [Parameter] public bool Mostrar { get; set; }
    
    [Parameter] public EventCallback<bool> MostrarChanged { get; set; }
    

    public async Task Cerrar()
    {
        Mostrar = false;
        await MostrarChanged.InvokeAsync(false);
    }
}
